---
title: Team | Zhou Lab
layout: default
group: members
---

<!-- Full-width image section (for members page) -->
<div class="container px-0 mx-auto" style="max-width: 100%;">
  <div style="width: 100vw;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              height: 500px;
              overflow: hidden;
              margin-bottom: 1rem;">
    <img src="/static/img/meeting room.jpg" alt="20" 
         style="width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;">
  </div>
</div>
<br>
<h1>Zhou Lab Members</h1>

{% for person in site.data.members %}
<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id = "{{person.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <img class="img-fluid" src="{{person.image}}" {% if person.altimage %} onmouseover="this.src='{{person.altimage}}';" onmouseout="this.src='{{person.image}}';" {% endif %} alt="{{person.name}}"; width="250"; height="250"><br>
        <strong>{{person.name}}</strong> <br>
        {% if person.pronouns %}
          <em>{{person.pronouns}}</em> <br>
        {% endif %}
        {{person.position}} <br>
        <e>{{person.email}}</e> <br>
        {% if person.website %}
          <a style="overflow-wrap: break-word;" href= "{{person.website}}">{{person.website}}</a> <br>
        {% endif %}
        {% if person.orcid %}
          <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
          <a href="http://orcid.org/{{person.orcid}}"> {{person.orcid}}</a> <br>
        {% endif %}
        {% if person.linkedin %}
          <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
          <a href= "http://www.linkedin.com/in/{{person.linkedin}}"> {{person.linkedin}} </a> <br>
        {% endif %}
        {% if person.scholar %}
          <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
          <a href= "http://scholar.google.com/citations?user={{person.scholar}}"> Scholar Citations </a> <br>
        {% endif %}
        {% if person.twitter %}
          <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
          <a href= "http://twitter.com/{{person.twitter}}"> @{{person.twitter}} </a> <br>
        {% endif %}
        {% if person.github %}
          <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
          <a href= "http://github.com/{{person.github}}"> {{person.github}} </a> <br>
        {% endif %}
    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{person.description | markdownify}}</p>
    </div>
</div>
{% endfor %}
<hr>
<br>
<h2>Zhou Lab Alumni</h2>

{% for alum in site.data.alumni %}
<div id = "{{alum.name}}" style="padding-top: 60px; margin-top: -60px;">
<p><strong>{{alum.name}}</strong> - <em>{{alum.position}}</em><br>
{% if alum.startdate %} {{alum.startdate}} - {% endif %}{{alum.enddate}} &emsp;
{% if alum.current %}Subsequent Position: {{alum.current}} </p> {% endif %}
</div> {% endfor %}


<!-- New Group Photos Section -->
<br>
<hr>
<h2>Group Photos</h2>
<div class="container">
  <div class="row">
    <!-- Example group photo - you can add multiple images as needed -->
    
    </div>
    <!-- Add more group photos as needed -->
  </div>
</div>
