<h3>Contact Us</h3>
<br>
<p>
<img class="img-fluid mx-auto d-block" src="/static/img/logos/zhoulogo5.png" alt="ZhouLab Logo" align="left" width="350">
<br>
<br>
<br>
<br>
<br>
<br>
<br>

The ZhouLab is located at<br>
<a href="https://medicine.temple.edu/departments-centers/research-centers/center-inflammation-lung-research-cilr">CLIR </a> at <a href="https://medicine.temple.edu"> Lewis Katz School of Medicine </a><br>
<br>
Mailing/Shipping: <br>
Center for Inflammation and Lung Research <br>
Lewis Katz School of Medicine <br>
Temple University <br>
3500 N. Broad St, Room 1155 <br>
Philadelphia, PA, 19140 <br>
<br>
Email: <a href="zhouzhj09@uchicago"> zhouzhj09@uchicago.edu </a> <br>

<br>
<!-- Social Media Links -->
<div class="social-media-links" style="text-align: center; margin-top: 20px;">
    <a href="mailto:contact@your-lab.com" title="Email" style="margin: 0 8px;">
        <i class="fas fa-envelope fa-2x"></i>
    </a>
    <a href="https://orcid.org/0000-0001-8329-6086" title="ORCID" style="margin: 0 8px;" target="_blank">
        <i class="fab fa-orcid fa-2x"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=WFrvIc4AAAAJ&hl=en" title="Google Scholar" style="margin: 0 8px;" target="_blank">
        <i class="fas fa-graduation-cap fa-2x"></i>
    </a>
    <a href="www.linkedin.com/in/zhengjie-zhou-a40b932a7" title="LinkedIn" style="margin: 0 8px;" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://x.com/YourLabHandle" title="X" style="margin: 0 8px;" target="_blank">
        <i class="fab fa-x-twitter fa-2x"></i>
    </a>
    <a href="https://youtube.com/YourLabChannel" title="YouTube" style="margin: 0 8px;" target="_blank">
        <i class="fab fa-youtube fa-2x"></i>
    </a>
</div>
</p>
