<h3>Contact Us</h3>
<br>
<p>
<img class="img-fluid mx-auto d-block" src="/static/img/logos/zhoulogo5.png" alt="ZhouLab Logo" align="left" width="350">
<br>
<br>
<br>
<br>
<br>
<br>
<br>

The Zhou Lab is located at<br>
<a href="https://medicine.temple.edu/departments-centers/research-centers/center-inflammation-lung-research">CILR </a> at <a href="https://medicine.temple.edu"> Lewis Katz School of Medicine </a><br>
<br>
Mailing/Shipping: <br>
Center for Inflammation and Lung Research <br>
Lewis Katz School of Medicine <br>
Temple University <br>
3500 N. Broad St, Room 1152 <br>
Philadelphia, PA, 19140 <br>
<br>
Department <a href="https://medicine.temple.edu/directory/zhengjie-zhou-phd"> Profile </a> of Dr. Zhengjie Zhou <br>

<br>
<!-- Social Media Links -->
<div class="social-media-links" style="text-align: left; margin-top: 20px; padding-left: 0px;"> <!-- Changed to left-align -->
    <a href="mailto:zhengjie.zhou@temple.edu" title="Email" style="margin: 0 12px; text-decoration: none;">
        <img src="/static/img/email icon.png" alt="Email" width="35" style="vertical-align: middle;">
    </a>
    <a href="https://orcid.org/0000-0001-8329-6086" title="ORCID" style="margin: 0 12px; text-decoration: none;" target="_blank">
        <img src="/static/img/orcid1.png" alt="ORCID" width="35" style="vertical-align: middle;">
    </a>
    <a href="https://scholar.google.com/citations?user=WFrvIc4AAAAJ&hl=en" title="Google Scholar" style="margin: 0 12px; text-decoration: none;" target="_blank">
        <img src="/static/img/google scholar icon.png" alt="Google Scholar" width="35" style="vertical-align: middle;">
    </a>
    <a href="https://www.linkedin.com/in/zhengjie-zhou-a40b932a7/" title="Linkedin" style="margin: 0 12px; text-decoration: none;" target="_blank">
        <img src="/static/img/linkedin icon.png" alt="Linkedin" width="35" style="vertical-align: middle;">
    </a>
    <a href="https://x.com/The_ZhouLab" title="X" style="margin: 0 12px; text-decoration: none;" target="_blank">
        <img src="/static/img/x icon.png" alt="X" width="35" style="vertical-align: middle;">
    </a>
</div>
</p>
